{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brilliant Printers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Navbar -->
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">

                <!-- Left side of navbar -->
                <div class="navbar-header">
                    <a href="{% url 'index' %}"><img src="{% static 'images/BG_LOGO.png' %}"></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'question_list' %}">Questions</a></li>
                </ul>

 <!-- <button class="btn btn-primary dropdown-toggle navbar-right" type="button" data-toggle="dropdown">Account <span class="caret"></span></button> -->
                <!-- Right side of navbar -->         
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="dropdown-toggle " data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="{% url 'logout' %}">Profile <span class="glyphicon glyphicon-user"></span></a></li>
                            <li class=""><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <!-- add block content from html templates -->
    {% block content %}


    {% endblock %}

</body>
</html>