<!-- inherit from base_template.html -->
{% extends 'BrilliantPrinters_app/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}

<h2>List of Questions</h2>

<!-- Create Question Button -->
{% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'create_question' %}" role="button">New Question</a>
{% endif %}

{% if question_list %}
    <ul> 
        {% for question in question_list %}
            <li>
                <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
                <a class="btn btn-primary" href="{{ question.get_absolute_url }}" role="button">View</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no questions</p>
{% endif %}

{% endblock %}